[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-allauth = "*"
dj-rest-auth = "*"
django-hashid-field = "*"
django-autoslug = "*"
django-filter = "*"
django-sortedm2m = "*"
python-decouple = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.9"
