[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-allauth = "*"
django-hashid-field = "*"
django-autoslug = "*"
django-filter = "*"
django-sortedm2m = "*"
python-decouple = "*"
django-debug-toolbar = "*"
django-dry-rest-permissions = "*"
dj-rest-auth = "*"

[dev-packages]
black = "*"
coverage = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
